.content {
    display: flex;
    min-height: calc(100vh - 6.481481481481482vh - 115px);
    width: calc(100vw - 421px);
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-size: 2.25rem;
    font-family: poppins-regular;
    margin-top: 65px;
}

.content h2 {
    font-size: 1.125rem;
    margin-top: 20px;
    font-family: poppins-regular;
}

.content .ogloszenia_content {
    margin-top: 60px;
    height: 598px;
    width: 100%;
    background-color: #E1E6ED;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .ogloszenia_content h3 {
    font-size: 2.25rem;
    font-family: poppins-regular;
    margin-top: 40px;
}

.ogloszenia {
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: space-evenly;
}

.ogloszenie {
    width: 592px;
    height: 210px;
    padding: 30px 30px 50px 30px;
    background: #FBFBFB;
    box-shadow: 0px 6px 5px rgba(47, 50, 67, 0.13);
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ogloszenie h4 {
    font-size: 1.75rem;
    font-family: poppins-regular;
}

.ogloszenie p {
    margin-top: 30px;
    font-size: 1.125rem;
    text-align: center;
    font-family: poppins-regular;
}