* {
    margin: 0;
}

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.ttf");
}

html {
    overflow-x: hidden;
}

header {
    height: 115px;
    width: 100%;
    background-color: #6391CF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 89.58333333333333vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons a {
    color: #1B2933;
    font-family: poppins-regular;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px;
    transition: 0.5s;
    border-radius: 4px;
}

.navigation-buttons a:hover {
        background-color: #1b293336;
        color: #1B2933;
    }

footer {
    height: 6.481481481481482vh;
    background-color: #6391CF;
    text-align: center;
    display: flex;
    font-family: poppins-regular;
    align-items: center;
    justify-content: center;
}